<div id="forcast">
    <ul>
        <li class="list-item">
            <img src="img/real-madrit.png"><strong>Реал Мадрид</strong>VS<img src="img/atletico-madrit.png"><strong>Атлетико Мадрид</strong><span>X</span>
        </li>
        <li class="list-item">
            <img src="img/real-madrit.png"><strong>Реал Мадрид</strong>VS<img src="img/atletico-madrit.png"><strong>Атлетико Мадрид</strong><span>X</span>
        </li>
        <li class="list-item">
            <img src="img/real-madrit.png"><strong>Реал Мадрид</strong>VS<img src="img/atletico-madrit.png"><strong>Атлетико Мадрид</strong><span>X</span>
        </li>
        <li class="list-item">
            <img src="img/real-madrit.png"><strong>Реал Мадрид</strong>VS<img src="img/atletico-madrit.png"><strong>Атлетико Мадрид</strong><span>X</span>
        </li>
        <li class="list-item">
            <img src="img/real-madrit.png"><strong>Реал Мадрид</strong>VS<img src="img/atletico-madrit.png"><strong>Атлетико Мадрид</strong><span>X</span>
        </li>
        <li class="list-item">
            <img src="img/real-madrit.png"><strong>Реал Мадрид</strong>VS<img src="img/atletico-madrit.png"><strong>Атлетико Мадрид</strong><span>X</span>
        </li>
        <li class="list-item">
            <img src="img/real-madrit.png"><strong>Реал Мадрид</strong>VS<img src="img/atletico-madrit.png"><strong>Атлетико Мадрид</strong><span>X</span>
        </li>
    </ul>
</div>